main{
    margin: 0;
    padding: 0;
    width: 860;
    height: auto;
    background-color:lightgray;
    align-items: center;
}
.heading{
    font-size: 40px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.img-part{
    margin-right: 5px;
    padding: 10px;
    padding-top: 10px;
}
img{
    margin-top: 18px;
}
.calculator-part{
    margin-left: 10px;
    padding: 10px;
}
h3{
    font-weight:700;
    text-align: center;
}
p{
    text-align: justify;
    font-size: 21px;
    font-weight: 600;
}
.input-teg{
    width: 60%;
    
}
#percentage-rate{
    width: 50px;
}
.error-msg{
    background-color:darkseagreen;
    color: beige;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    display: none;
}
.btn{
    background-color: coral;
    width: 90px;
    height: 35px;
    padding: 5px;
    font-size: large;
    border-radius: 7px;
    color: aliceblue;
}
/*--------------------mobile screen----------------- */
@media only screen and (max-width:620px) {
    .heading{
        padding-bottom: 0;
        margin: 0;
    }
   .container{
       flex-direction: column;
       justify-content:center;
   } 

   .img-part{
       width: 90%;
       height: auto;
       margin: 0;
   }
   .img-part img{
       width: 100%;
       margin: 0;
   }
   h3{
       margin: 0;
   }
   .input-teg{
       margin: 0;
   }
   .save-teg{
       margin: 0;
   }
   .calculator-part{
    width: 90%;
    height: auto;
   }
}
